@page "/"

<div class="row">
    <div class="col-6">
        <BlazorAppToDoList.Pages.Components.ToDo HeaderName="Daily Task">

        </BlazorAppToDoList.Pages.Components.ToDo>
    </div>
    <div class="col-6">
        <BlazorAppToDoList.Pages.Components.ToDo HeaderName="Monthly Task">

        </BlazorAppToDoList.Pages.Components.ToDo>
    </div>
</div>